<section
  id="game-data"
  game-name="{{name}}"
>
  <h1 id="title">{{title}}</h1>
  <fieldset
    id="images"
  >
    <legend id="images-legend">
      <h2>Game Images</h2>
    </legend>
    <div
      id="images"
      hx-get="/page/{{name}}/images"
      hx-trigger="load"
    ></div>
  </fieldset>
  <fieldset id="platforms">
    <legend id="platforms-legend">
      <h2>Platform Availablility</h2>
    </legend>
    <ul
      id="platforms-list"
      hx-get="/page/{{name}}/platformFeatures"
      hx-trigger="load"
    ></ul>
    <input type="submit" name="submit-platform-option" value="Add Platform"/>
  </fieldset>
  <fieldset id="gfxOptions">
    <legend id="gfxOptions-legend">
      <h2>Graphics Options Available</h2>
    </legend>
    <ul
      id="gfxOptions-list"
      hx-get="/page/{{name}}/gfxOptions"
      hx-trigger="load"
    >
    </ul>
    <div draggable="false">
      <label for="gfxName">Option Name:</label>
      <input type="text" name="name" id="gfxOptions-name-input"/>
      <br/>
      <fieldset>
        <legend id="gfxOptions-options-legend">Option entries</legend>
        <label for="gfxName"></label>
        <input type="text" name="name" id="gfxName"/>
        <input type="submit" name="submit-gfx-option-entry" value="Add Entry"/>
      </fieldset>
      <input type="submit" name="submit-gfx-option" value="Add Option"/>
    </div>
  </fieldset>
</section>
