<div
  id="game-data"
  game-name="{{name}}"
  hx-on:htmx:load="getGameData(event)"
>
  <h1 id="title">{{title}}</h1>
  <fieldset id="images">
    <legend id="images-legend">
      <h2>Game Images</h2>
    </legend>
    <div
      id="images"
      hx-get="/page/{{name}}/images"
      hx-trigger="load"
    ></div>
  </fieldset>
  <fieldset id="platform-features-">
    <legend id="platform-featuress-legend">
      <h2>Platform Availablility</h2>
    </legend>
    <ul
      id="platform-features-list"
      hx-get="/page/{{name}}/platform-features"
      hx-trigger="load"
    ></ul>
    <input type="button" name="submit-platform-option" value="Add Platform"/>
  </fieldset>
  <fieldset id="gfx-options">
    <legend id="gfx-options-legend">
      <h2>Graphics Options Available</h2>
    </legend>
    <ul
      id="gfx-options-list"
      hx-get="/page/{{name}}/gfx-options"
      hx-trigger="load, reload"
      hx-on:htmx:before-request="console.log('GET /page/{{name}}/gfx-options')"
    >
    </ul>
    <fieldset draggable="false">
      <legend>
        <h3>New Option</h3>
      </legend>
      <div>
        <label for="gfx-options-add-name-input">Option Name:</label>
        <input
          type="text"
          name="gfx-options-add-name-input"
          id="gfx-options-add-name-input"
        />
        <button
          hx-post="/page/test"
          hx-vals='js:{name: document.getElementById("gfx-options-add-name-input").value}'
          hx-swap="none"
          hx-on:htmx:after-request="update(event, '#gfx-options-list', 'load')"
        >
          Add Option
        </button>
      </div>
      <h3 id="gfx-options-preview-name"></h3>
    </fieldset>
  </fieldset>
  <fieldset id="performance-record-list">
    <legend id="performance-record-list-legend">
      <h2>Performance Records</h2>
    </legend>
    <ul
      id="performance-record-list-list"
      hx-get="/page/{{name}}/performance-record-list"
      hx-trigger="load"
    ></ul>
  </fieldset>
</div>
