<select
  name="gameName" id="game-select"
  hx-get="/page/data-editor"
  hx-trigger="load, change"
  hx-target="#game-data-editor"
  hx-swap="innerHTML"
  onchange="gameLoaded = false"
  hx-on:htmx:after-request="getSelectedGameData(event)"
>
  {{#each gamesList}}
  <option
    value="{{name}}"
    {{#if isTarget}}
    selected
    {{/if}}
  >
    {{#if title}}
    {{title}}
    {{else}}
    {{name}}
    {{/if}}
  </option>
  {{/each}}
</select>

<form
  hx-post="/data/game/"
  hx-swap="none"
  hx-on:htmx:after-request="update(event, '#game-select-section', 'reload',{gameName:event.detail.xhr.responseText})"
>
<input
  type="text"
  name="gameTitle"
  id="new-game-name-input"
/>
<button
>
  Add New Game
</button>
</form>
