@import url("../styles/variables.css");

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 72px;
  border-top: 1px solid rgba(0,0,0,0.06);
}

.footer-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-left: var(--padding-page);
  padding-right: var(--padding-page);
  width: var(--content-max-width);
}