h3 {
  font-size: 0.875rem;
  font-weight: 600;
  position: sticky;
  left: 0;
  margin-top: 24px;
  margin-bottom: 16px;
}

.game-data-row-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game-data-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 16px;
}

.game-data-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider-container {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: -7px;
  right: -7px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  z-index: -100;
}

.divider {
  width: 1px;
  background-color: #C4C4C4;
}