@import url("../styles/variables.css");

.game-data-card {
  display: flex;
  flex-direction: column;
  height: var(--height-data-card);
  width: var(--width-data-card);
  border-radius: 8px;
  box-shadow: var(--shadow-card);
  background-color: #fff;
  text-align: center;
  font-size: 0.75rem;
  overflow: hidden;
}

.game-data-card-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.game-data-card-banner {
  justify-self: start;
  color: #fff;
  background-color: #272727;
  font-size: 0.625rem;
  padding: 4px 0;
}