.game-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  overflow-x: auto;
}