@import url("../styles/variables.css");

.hero {
  position: relative;
  min-height: 250px;
}

.hero-image {
  filter: brightness(60%);
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

.hero-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-page);
  padding-right: var(--padding-page);
  padding-top: 24px;
  padding-bottom: 32px;
  color: #E2FFDD;
  max-width: var(--content-max-width);
}

h1.hero-Header {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 24px;
  color: #FFF;
  margin-bottom: 12px;
}

h2.hero-text {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 24px;
}
